.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}

.loadMoreBtn {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--gray-light);
  border-radius: 200px;
  padding: 16px 32px;
  height: 56px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--main);
}

.loadMoreBtn:hover {
    border-color: var(--button-hover);
}
