.layout {
    padding-top: 48px;
    padding-bottom: 52px;
  }
  
  .layoutContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
  
    @media screen and (min-width: 1440px) {
      flex-direction: row;
      gap: 64px;
    }
  }