@import "tailwindcss";

:root {
	--main: #101828;
	--text: #475467;
	--white: #fff;
	--inputs: #f7f7f7;
	--badges: #f2f4f7;
	--gray: #6c717b;
	--gray-light: #dadde1;
	--button: #e44848;
	--button-hover: #d84343;
	--rating: #ffc531;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;;
}

.html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


.container {
  max-width: 100%;
  padding-left: 64px;
  padding-right: 64px;
  margin-left: auto;
  margin-right: auto;
}


.input {
  background-color: #fff;
  color: #111827;
}


.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  -webkit-text-fill-color: #111827;
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  box-shadow: 0 0 0 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}