.catalogContainer {
    display: flex;
    flex-direction: row;
    gap: 64px;
    padding: 48px 64px;
}
.filterSide {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.catalogMain {
    display: flex;
    flex-direction: column;
    gap: 32px;
}