.reviewCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.reviewerInfo {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.reviewerImage {
  border-radius: 60px;
  width: 60px;
  height: 60px;
  background-color: #f2f4f7;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #e44848;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewerDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #101828;
  display: flex;
}

.rating {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.ratingIcon {
  fill: #ffc531;
}

.ratingIconNeutral {
  fill: #f2f4f7;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #475467;
}
