.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 14px;
  border-radius: 10px;
  background-color: #f7f7f7;
  width: 100%;

  @media screen and (min-width: 1140px) {
    padding: 44px 52px;
  }
}

.specsFeatures {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #101828;
}

.stroke {
  stroke-width: 1px;
  stroke: #dadde1;
}

.specs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.spec {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #101828;
  justify-content: space-between;
}

.optionsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.optionItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 100px;
  padding: 12px 18px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
}

.labelText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #101828;
}

.optionIcon {
  color: #101828;
  flex-shrink: 0;
}

.optionIconStroke {
  fill: none;
  stroke: currentColor;
}

.optionIconFill {
  fill: currentColor;
  stroke: none;
}