.features {
  display: flex;
  flex-direction: column; 
  gap: 40px; 
  border-radius: 10px;
  padding: 44px 80px;
  width: 631px;
  background: var(--inputs);
}

.featureList {
  display: flex;
  flex-wrap: wrap; 
  gap: 8px 16px; 
}

.featureItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 100px;
  padding: 12px 18px;
  height: 48px;
  background: var(--badges);
  mix-blend-mode: multiply;
  width: fit-content;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detailsList li {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  
}

.title::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px; 
    background-color: var(--gray-light); 
    margin-top: 24px; 
    border-radius: 1px; 
  }
  