.pageSection {
  padding-top: 48px;
  padding-bottom: 80px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.head {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.numbers {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.numbersWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.numberInfo {
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #101828;
}

.ratingIcon {
  fill: #ffc531;
}

.locationIcon {
  fill: #101828;
}

.title,
.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #101828;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}
