.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
  margin-bottom: 8px;
}

.priceWrap {
  margin-bottom: 28px;
}

.price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
  margin-bottom: 28px;
}

.meta {
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #6c717b;
  margin-bottom: 16px;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  margin-bottom: 60px;
}

.tabs {
  display: flex;
  gap: 40px;
}

.tabButton {
  background: none;
  border: none;
  position: relative;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 44px;
}

.tabButton.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -24px; 
    width: 100%;
    height: 5px; 
    background-color: var(--button); 
    border-radius: 1px;
  }
  
  .infoSections {
    display: flex;;
    flex-direction: row;
    gap: 40px;
  }



 